<!DOCTYPE html>
<html>
    <head>
        <style>

    .bodyStyle {
        padding: 1em;
        color: white;
        background-color: #4f8115;
        clear: left;
        text-align: center;
    }
        </style>
    </head>
    <body>
        <title>Home page in Express !!</title>

        <H1 class='bodyStyle' style="text-align: centre";>Weather App</H1>

    </body>
</html>