<!DOCTYPE html>
<html>
    <head> 
    </head>
    <body>
        {{>header}}
        <title>About page in Express !!</title>
        <H1>About page in Express !!</H1>
        <h2> {{title}}</h2>
        <p> {{body}}</p>
    </body>
    
</html>